<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <SearchSettings>
        <add key="Kulturarv URL" value="https://www.kulturarv.dk/fundogfortidsminder/Lokalitet/"/>
        <add key="Europeana URL" value="YESYESYES"/>
        <add key="GeoInfo" value=""/>
    </SearchSettings>
    <DatabaseSettings>
        <Neo4J>
            <add key="Neo4J" value="neo4j+s://2247b14c.databases.neo4j.io"/>
        </Neo4J>
    </DatabaseSettings>
</configuration>
