<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <SearchSettings>
        <add key="Kulturarv URL" value="https://www.kulturarv.dk/fundogfortidsminder/Lokalitet/"/>
        <add key="Europeana URL" value="YESYESYES"/>
    </SearchSettings>
    <DatabaseSettings>
        <add key="Kulturarv URL" value="YESYESYES"/>
        <add key="Europeana URL" value="YESYESYES"/>
    </DatabaseSettings>
</configuration>
